body {


    /* background-color: #FDF6E3; */
    /* background-image: url("https://t4.ftcdn.net/jpg/02/99/75/67/240_F_299756723_q5a43V3W80krIlH4tx2SQxCsBc8WYlME.jpg"); */
    background: url("https://t4.ftcdn.net/jpg/01/71/17/83/240_F_171178300_XHbJ4O3MgB4z6sTVwkQkdGE3CSUDZnSw.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

:root {
    --bg-eee: #eee;
    --hover-text: #00b894;
}

.tetel {

    text-align: center;
    margin-top: 150px;
}

.tetel h1 {
    font-size: 40px;
    font-weight: 700;
}

.tetel p {
    color: var(--hover-text);
    font-weight: 700;
    margin-top: 10px;
    font-size: 0.9rem;
}

.tetel p span {
    color: black;
    font-family: cursive;
    font-weight: 700;
    font-size: 1.4rem;
    margin-left: 8px;
}

header .logo h4 {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;

}

header .logo span {
    font-weight: 600;
    color: var(--hover-text);
    font-size: 1.3rem;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; */
}

header a {
    margin-left: 9px;
    margin-right: 9px;
    color: black;
    text-decoration: none;
    font-weight: 650;
    font-size: 1.2;
    transition: 0.3s;
}

header a:hover {
    color: var(--hover-text);
}

hr {
    border: solid 2px #b0aaaa;
    opacity: 20%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.aboute-me {
    /* position: relative;
    top: -50px; */
}

.home .aboute-me .text1 {
    color: var(--hover-text);

    font-weight: 700;

}

.home .aboute-me .text2 {

    font-weight: 700;

}

.home .aboute-me .text3 {
    color: #00b894;
    font-weight: 900;
    -webkit-text-stroke: 2px #111;
}

.home .aboute-me .text4 {
    color: transparent;
    -webkit-text-stroke: 2px #111;
    font-weight: 900;
}

.big-tetel {
    font-size: 100px;
    line-height: 1;
    margin: 20px 0px;

}

.home .aboute-me .text5 {
    margin-top: 20px;
    font-weight: 600;
}

.home .aboute-me .text6 {
    font-family: cursive;
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 15px;



}

.home .aboute-me p {
    width: 500px;
    margin-top: 20px;
    opacity: 45%;
    line-height: 27px;
    /* animation: typing 4s steps(20) infinite;
     overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black; */
}

/* @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
} */
.icons1 {
    margin-top: 20px;
}


.icons1 ion-icon {
    font-size: 1.7rem;
    color: black;
    transition: 0.3s;
    margin-left: 4px;
    margin-right: 4px;
    transition: 0.3s;
}

.icons1 ion-icon:hover {
    color: var(--hover-text);
    transform: scale(1.2);
}

.btn-cv button {
    margin-top: 25px;
    padding: 15px 30px;
    border: 2px solid #111;
    border-radius: 30px;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 4px 4px 0px #b0aaaa;
}

.btn-cv button:hover {
    transform: translate(4px, 4px);
    box-shadow: 0Px 0px 0px #111;
    background-color: #00b894;
    color: #eee;
}

.btn-cv a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 20px;
    transition: 0.3s;
}

.btn-cv a:hover {
    color: var(--hover-text);

}

.image img {
    width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--hover-text),0 0 20px  #00ffcc;
    transition: 0.3s;
}
.image img:hover{
    opacity: 100%;
    transform: scale(1.1);
}

.badge {
    position: absolute;
    top: 595px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #eee;
    padding: 10px 18px;
    border-radius: 30px;
    border: 2px solid #111;
    box-shadow: 4px 4px 0px #b0aaaa;
}

.badge.left {
    margin-left: 200px;
    /* position: relative;
    top:-40px; */
}

.badge.right {
   /* position: relative;
   top: -30px; */
}

.number {
    font-weight: 800;
    font-size: 20px;
}



.my-services {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.my-services .card {
    width: 350px;
    height: 300px;
    background-color: #eee;
    border-radius: 15px;
}

.card {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: var(--hover-text);
    color: #eee;
}

.card h4 {

    margin-top: 20px;
    font-weight: 500;
}

.card h2 {

    margin-top: 50px;
    font-weight: 500;
}

.card p {
    opacity: 50%;
    margin-top: 20px;
    line-height: 30px;

}




/* preloader كامل */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#preloader .name span {
    color: var(--hover-text);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: cursive;

}

/* الاسم */
.name {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: cursive;
}

#preloader i ion-icon{
    font-size: 500px;
    transition: 0.5s;
    opacity: 10%;
    animation: loading-icon 2s ease infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* الخط */
.line {
    margin-top: 15px;
    width: 0;
    height: 4px;
    background: var(--hover-text);
    animation: loading 2s ease forwards;
}

/* animation ديال الخط */
@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 200px;
    }
}

/* نخبي المحتوى حتى يسالي loading */
#content {
    display: none;
}



.skills {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.skills h1 {
  letter-spacing: 2px;
}

.subtitle {
  color: gray;
  margin-bottom: 30px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.skill {
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.info span{
    font-weight : 600 ;
}
.sp{
    color: var(--hover-text);
}
.paras p{
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 50%;
    line-height: 30px;
    font-weight: 550;
}
.bar {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

.progress {
  height: 8px;
  background: var(--hover-text);
  border-radius: 5px;
  position: relative;
}
.progress::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: var(--hover-text);
    border-radius: 50%;
    border: 3px solid  black;
    box-shadow:0 0 5px rgba(0,0 , 0, 0.3) ;
}

/* percentages */
.php { width: 85%; }
.js { width: 75%; }
.html { width: 75%; }
.react { width: 75%; }
.laravel { width: 50%; }
.wordpress { width: 50%; }





















/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;


}
footer .tex{
    font-weight: 600;

}

footer span{
    color: var(--hover-text);
       font-weight: 600;
}